<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.hospitalpatients">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:orientation="vertical"
        android:theme="@style/Theme.HospitalPatients">

        <activity android:name=".SeePatient" />
        <activity android:name=".DelPatient" />
        <activity android:name=".AddPatient" />
        <activity android:name=".AddHos" />
        <activity android:name=".AddStaff" />
        <activity android:name=".SeeHos" />
        <activity android:name=".UserMain" />
        <activity android:name=".SeeDoc" />
        <activity android:name=".Reg" />
        <activity android:name=".Guest" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>